.quienesSomos{
    h1{
        text-align: center;
        font-size: 2rem;
        font-family: $font-Roboto;
    }
    &__cont{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__col1{
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 4rem;
            width: 50%;
            p{
                
                font-size: 1.5rem;
                text-align: justify;
                line-height: 2.5rem;
            }
        }
        &__col2{
            width: 50%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            img{
                display: block;
                width: 70%;
            }
        }
    }
    // Diseño Responsivo
    @media only screen and (max-width: $bp-phone){
        &__cont{
            flex-direction: column;
            &__col1{
                width: 100%;
                padding: 1rem 3rem;
                p{
                    font-size: 1.3rem;
                    line-height: 2rem;
                }
            }
            &__col2{
                width: 100%;
            }
        }
    }
    // @media only screen and (max-width: $bp-small){
    //     &__cont{
    //         flex-direction: column;
    //         &__col2{
    //             width: 100%;
    //             padding: 1rem 3rem
    //         }
    //     }
    // }
}