.servicios{
    &__fila1{
        h1{
            text-align: center;
            font-size: 2rem;
            font-family: $font-Roboto;
        }
    }
    &__fila2{
        &__cont{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            &__item{
                border: solid 3px;
                width: calc(100% / 2 - 200px);
                height: 400px;
                margin: auto 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-style: outset;
                // para las sombras
                -webkit-box-shadow: 5px 4px 17px -4px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 4px 17px -4px rgba(0,0,0,0.75);
                box-shadow: 5px 4px 17px -4px rgba(0,0,0,0.75);
                h1{
                    font-family: $font-Roboto;
                    font-size: 2.75rem;
                    text-align: center;
                    margin-bottom: 5px;
                    display: block;
                }
                h2{
                    font-family: $font-RobotoMono;
                    text-align: center;
                    margin-bottom: 22px;
                    display: block;
                }
                ul{
                    display: block;
                    li{
                        font-family: $font-Vietnam;
                        font-size: 1.4rem;
                        margin-bottom: 6px;
                        text-align: center;
                    }
                }
            }
        }
        
    }
    // Diseño responsivo
    @media only screen and (max-width: 1000px){
        &__fila2{
            &__cont{
                &__item{
                    width: calc(100% / 2 - 100px);
                    margin: 20px;
                }

            }
        }
    }
    @media only screen and (max-width: 780px){
        &__fila2{
            &__cont{
                &__item{
                    width: calc(100% / 2 - 50px);
                    margin: 20px;
                }

            }
        }
    }
    @media only screen and (max-width: 600px){
        &__fila2{
            &__cont{
                &__item{
                    width: calc(100% / 2 - 15px);
                    margin: 7.5px;
                }

            }
        }
    }
    @media only screen and (max-width: $bp-phone){
        &__fila2{
            &__cont{
                flex-direction: column;
                align-items: center;
                &__item{
                    width: 80%;
                    margin: 20px;
                }

            }
        }
    }
}